<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-card>
      <app-card-title>
        <h2 class="mdl-card__title-text">My Heroic Day</h2>
      </app-card-title>
      <app-card-body>
        <app-pie-chart></app-pie-chart>
      </app-card-body>
    </app-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-weather></app-weather>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-trending-activities></app-trending-activities>
  </div>
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--5-col-tablet mdl-cell--2-col-phone">
    <app-mount-everest-card></app-mount-everest-card>
  </div>
  <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--7-col-tablet mdl-cell--4-col-phone">
    <app-card>
      <app-card-title>
        <h2 class="mdl-card__title-text">Top Year Progress</h2>
      </app-card-title>
      <app-card-body>
        <app-line-chart></app-line-chart>
      </app-card-body>
    </app-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
    <!-- <app-table-card></app-table-card> -->
  </div>
</div>
<div
  class="mdl-grid mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <app-cube-card></app-cube-card>
  </div>
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone">
    <!-- <app-todo-list></app-todo-list> -->
  </div>
</div>
