@import '../../../theme/helpers';

.title {
  cursor: pointer;
}

.title:focus {
  outline: 0;
}

.mdl-navigation base-menu-item:nth-child(2) i.material-icons {
    transform: rotate(180deg);
  }

@media screen and (max-width: $layout-screen-size-threshold) {
  .mdl-layout__header {
    display: flex !important;
  }
}