.mdl-layout-spacer1 {
    flex-grow: 0.2;
}
.mdl-layout-spacer2 {
    flex-grow: 0.8;
}
.mdl-menu__item {
 color: #fff;
}

.help {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    color: #fff;
    z-index: 1;
   }

.support-icon {
    font-size: 36px;
}